block sidebar
    ul(class="nav nav-list well")
        li(class="nav-header")
          |Options
        li
          a(href="/books/read") Already Read
          a(href="/books/reading") Currently Reading
          a(href="/books/unread") Books To Read
          a(href="/books/search") Search Book