extends ../layout

block content
  .page-header
    h1 Update Profile Info
    
  .row
    .span2
      ul(class="nav nav-list well")
        li(class="nav-header")
          |Cover Pic
        li
          img(src="/images/profilePic.jpg" alt="User Image" class="img-rounded")

      include ../sidebar.jade
    .span2
      div
    .span4
      form(action='/update', method='post')
        .formgroup
          label Name
          input(type="text" name="name" value = "#{user.name}" required)
        .formgroup
          label Email
          input(type="text" name="email" value = "#{user.email}" required)
        .actions
          input(type="submit" value="Update" class="btn btn-success")